<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar')%>
    <a href="/home/<%=board.id%>/list/create">Create list</a>
    <h1><%= board.title%></h1>
    <%if(board.lists){%>
        <%board.lists.forEach(item =>{%>
            <div>
                <%=item.title%>
                <%item.cardId.forEach(elem =>{%>
                    <div>
                        <%= elem.title%>
                    </div>
                    
                    <%})%>
                <a href ="/home/list/<%=item.id%>/card">Create a card</a>
                <div>
                    
                </div>
            </div>
        <%})%>
    <%}%>
</body>
</html>